h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color:white;
    position: center;
}
.firstlink{
    color:aquamarine;
    font-size: 16px;
}
main{
    background-color: black;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}
